
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
#about{
	margin-top: 80px;
}
.timeline-section{
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #f5c104;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #f5c104;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
    font-weight: bold;
	color: #f5c104;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: white;
    /* border: 1px solid #f5c104; */
	box-shadow: rgba(255, 200, 19, 0.25) 0px 5px 15px 0px;
	padding: 25px;
	border-radius: 15px;
}

.timeline-content:hover{
    background: rgb(245,193,4);
background: linear-gradient(87deg, rgba(245,193,4,1) 9%, rgba(255,206,28,1) 50%, rgba(255,205,27,1) 100%);
    /* border: 2px solid #f5c104; */
	padding: 25px;
}
.timeline-content:hover h3{
    color:white;
}
.timeline-content:hover p{
    color:white;
}
.timeline-content:hover h4{
    color:white;
}
.timeline-content h3{
    font-size: 20px;
	color: #24262b;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}

.timeline-content h4{

	color: #24262b;
}
.timeline-content p{
    color: #747474;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}