*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* body{
	font-size: 1.7rem;
	font-family: 'Merriweather Sans', sans-serif;
	background: #2c3e50;
	color: #ececec;
	padding: 4rem;
} */
.products{
    margin-top: 80px;
}
.products h2{
	text-align: center;
    margin-bottom: 50px;
    font-size: 28px;
    color: #f5c104;
}

.all-products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	overflow: hidden;
	background: #ffffff;
	color: #24262b;
	text-align: center;
	width: 250px;
	height: 200x;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.product .product-title, .product .product-price{
	font-size: 18px;
}


.product img {
    width: 100%;
	height: 100px;
	margin: 1rem;
}

.product a:link, .product a:visited{
	color: #ffffff;
	display: inline-block;
	text-decoration: none;
	background-color: #f5c104;
	padding: 1.2rem 3rem;
	border-radius: 50px;
	margin-top: 1rem;
	font-size: 14px;
    font-weight: 500;
}

.product a:hover{
	color: #24262b;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
