
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.servicess{
    padding: 60px 0;
}

.containers{
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.servicess h2{
    position: relative;
    font-size: 28px;
    line-height: 1.4;
    text-align: center;
    font-weight: 700;
    color: #f5c104;
    margin-bottom: 80px;
    margin-top: 80px;

}

.servicess .text-services{
    max-width: 800px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}



.card{
    padding: 2rem;
    border-radius: 15px;
    /* border: 1px solid #f5c104; */
    box-shadow: rgba(255, 200, 19, 0.25) 0px 5px 15px 0px;
    background-color: white;
    width: 100%;
    text-align: center;
}

.card:hover{
    padding: 2rem;
    border-radius: 15px;
    /* border: 2px solid #f5c104; */
    background: rgb(245,193,4);
background: linear-gradient(87deg, rgba(245,193,4,1) 9%, rgba(255,206,28,1) 50%, rgba(255,205,27,1) 100%);
    width: 100%;
    text-align: center;
}

.card:hover i{
color: white;
}
.card:hover h3{
    color: white;
 }
.card:hover p{
        color: white;
        }
.card i{
    font-size: 45px;
    color: #f5c104;
    margin-bottom: 10px;
    display: block;
}

.card h3{
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;
    color: #24262b;
    margin-bottom: 20px;
}
.card p{
    color: #747474;
}

@media screen and (max-width: 768px) {
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 576px) {
    .servicess h2{
        font-size: 28px;
        margin-bottom: 80px;
    }

    .servicess .text-services{
        /* font-size: 14px; */
        line-height: 1.7;
    }
    .cards{
        grid-template-columns: 1fr;
        grid-gap: 60px;
    }
}

