
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 500px;
  padding: 20px;
  margin-left: 80px;
  margin-right: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.container img {
  margin-right: 10px;
  width: 300px;
  height: 300px;
  border: 4px solid #fffef2;
  animation: profile__animate 6s linear infinite;
}
@keyframes profile__animate {
  0%{
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
}


.hero-text {
  width: 50%;
  margin-left: 50px;
}

.hero-text h1 {
  font-size: 3.3rem;
  margin-bottom: 12px;
  color: #24262b;
}

.hero-text span {
  font-size: 3.3rem;
  margin-bottom: 12px;
  color: #f5c104;
}

.hero-text p {
  color:#747474;
  font-size: 1.5rem;
  margin-bottom: 12px;
  margin-left: 2px;
}

.button {
  padding: 0.7em 1.8em 0.8em;
  /* border: 0.5px solid rgb(212, 212, 212); */
  border-radius: 50px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  margin: 5px 1px;
  background-color: #f5c104;
  color:white;
  font-weight: 800;
  font-size: 0.9em;
  text-align: center;
  /* transition: color 3s ease-in-out; */
}

.button:hover {
  color:rgb(255, 255, 255);
  background-color: #24262b;
  cursor: pointer;
  border: none;
}


/* Media queries */

@media (max-width: 884px) {
  .container {
    margin-top: 10px;
    flex-direction: column;
  }
  .hero-text {
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 3rem;
  }
  .hero-text span {
    font-size: 3rem;
  }
  .container img {
    margin-right: 0px;
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 678px) {
  .hero-text {
    margin-left: 0px;
    margin-right: 30px;
  }
  .hero-text h1 {
    font-size: 2.2rem;
  }
  .hero-text span {
    font-size: 2.2rem;
  }
  .container img {
    margin-right: 30px;
  }
}

